#settings
.settings/

#metadata
.metadata/
# STM32CubeIDE project folders
Tina_v2/.settings/
Tina_v2/.metadata/
Tina_v2/Debug/
Tina_v2/Release/

# Object and build files
*.d
*.o
*.elf
*.map
*.hex
*.bin

