# STM32CubeIDE project folders
.settings/
.metadata/
Debug/
Release/
Backup/

# Object and build files
*.d
*.o
*.elf
*.map
*.hex
*.bin

# VSCode
.vscode/

# Build output
Tina_v2/App_Tina/Test/*_test

# Telemetry data
telemetry.csv
