#settings
.settings/

#metadata
.metadata/
# STM32CubeIDE project folders
TINA_V2/.settings/
TINA_V2/.metadata/
TINA_V2/Debug/
TINA_V2/Release/

# Object and build files
*.d
*.o
*.elf
*.map
*.hex
*.bin

